#header{
    position:fixed;
    height: 100px;
    background: white;
    z-index: 9;
    display:block;
    width: 100%;
    color: #6c6c6c;
}
    .header_logo{
        display: inline-block;
        height: 100%;
        line-height: 100px;
        font-family: RobotoRegular;
        font-size: 35px;
    }
    .header_menu{
        font-family: RobotoLight;
        margin-top: 25px;
        font-size: 17px;
    }
        .header_menu a:link,
        .header_menu a:visited,
        .header_menu a:active{
            color: #6c6c6c !important;
        }

.slide1 {
    background-image: url("../../static/img/billboard.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: RobotoLight;
    padding-top: 250px;
    font-size: 45px;
}
    .slide1_button{
        font-size: 25px;
        padding: 5px;
        padding-left: 50px;
        padding-right: 50px;
        border-radius: 30px;
        position: relative;
        top: 80px;
    }
        .slide1_button:hover{
            background: #3f5480 !important;
        }

.slide2{
    height: 100% !important;
    font-size: 1em;
}
    .service{
        font-family: RobotoLight;
    }
        .service_image-active{ /*light image for active of service. Used on mobile */
            box-shadow: 0px 0px 39px 26px rgba(236,84,132,1);
            background: rgba(236,84,132,1);
        }
        .service_description{
            padding-left: 20%;
            padding-right: 20%;
            padding-bottom: 10%;
        }
        .service_description-mobile{
            height: 80%;
            padding-top: 20%;
            text-align: center;
        }

.slide3{
    font-family: RobotoLight;
    height: 100% !important;
    background: #fcfcfc;
    font-size: 1em;
}
    .author{  }
        .author_image_wrap{
            padding-top: 15px;
        }

.slide4{  }
    .clients{
        line-height: 150px;
        letter-spacing: 25px;
    }

.slide5{
    background: #fcfcfc;
}
    .slide5 .slide{
        margin-top: 200px;
    }
        .picture{
            text-align: left;
            padding-left: 26px;
        }
            .picture_img{
                width: 280px;
            }
            .picture_info{
                padding-top: 25px;
                color: #6c6c6c;
                width: 280px;
            }
                .picture_date{
                    font-size: 12px;
                }

.slide6{
}
    .feature{
        margin-top: 50px;
    }
        .feature_image{
            margin-top: 5px;
            float: left;
        }
        .feature_info{
            margin-left: 50px;
        }
            .feature_info p{
                color: #6c6c6c;
            }

.slide7{
    padding-top: 200px;

    background: #fcfcfc;
}
    .news{
        margin-top: 30px;
    }
        .news_text{
            color: #6c6c6c;
            padding-left: 50px;
        }
        .news_header{
            padding-top: 0px;
            margin-top: 0px;
        }
        .news_article{
            font-size: 16px;
            line-height: 26px;
        }
        .news_image{  }

.sign-up{
    height: 55%;
}
    .sign-up_invite{
        padding-top: 5%;
        padding-bottom: 5%;
        width: 70%;
        display: inline-block;
    }
    .sign-up_button{
        width: 220px;
        background: #ec5483;
        border: none;
        line-height: 45px;
    }
        .sign-up_button:hover{
            background: #3f5480;
        }
.footer{
    padding-top: 3%;
    background: #38404b;
    height: 45%;
    color: #bdcadb;
}
    .footer_logo{  }
        .footer_nav{
            margin-top: 35px;
        }
            .footer_nav li{
                padding-left: 35px;
            }
                .footer_nav a:link,
                .footer_nav a:active,
                .footer_nav a:visited {
                    color: #bdcadb !important;
                }
                .footer_copyleft{
                    margin-top: 20px;
                    font-size: 12px;
                }
.section{
    margin: 0px !important;
}