@media (max-width: 769px) {
    .picture{
        text-align: center;
        padding-left: 0px;
    }
        .picture_info{
            text-align: center;
            display: inline-block;
        }

    .feature{
        margin-top: 7%;
    }

    .slide5 .slide{
        margin-top: 200px;
    }

    .slide7{
        padding-top: 20%;
        text-align: center;
    }
        .news_text{
            padding-left: 15px;
        }

    .popover{
        max-width: 50%;
    }
}
@media(min-device-height: 800px){
    body{
        font-size: 24px;
    }
}