/************************************/
/*1. BOOTSTRAP **********************/
/*2. FULLPAGE  **********************/

/*1. BOOTSRAP*/
.overwrite-def-container-fluid{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.popover {
    border-radius: 0;
    box-shadow: none;

    line-break: auto;

    text-align: center;
    padding-bottom: 20px;
    font-family: RobotoLight;

    font-size: 1em;
    max-width: 30%;
}
/*END BOOTSTRAP*/

/*2. FULLPAGE*/
.fp-prev{
    left: 3px !important;
    border-width: 38.5px 16px 38.5px 0 !important;
    border-color: transparent rgba(0,0,0,0.5) transparent transparent !important;
}
.fp-next{
    right: 3px !important;
    border-width: 38.5px 0 38.5px 16px !important;
    border-color: transparent transparent transparent rgba(0,0,0,0.5) !important;
}
@media (min-width: 769px) {
    .fp-next, .fp-prev {
        display: none !important;
    }
}
/*END FULLPAGE*/