/* font-family: "RobotoRegular"; */
@font-face {
    font-family: "RobotoRegular";
    src: url("../../fonts/RobotoRegular/RobotoRegular.eot");
    src: url("../../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
    url("../../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
    font-family: "RobotoLight";
    src: url("../../fonts/RobotoLight/RobotoLight.eot");
    src: url("../../fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/RobotoLight/RobotoLight.woff") format("woff"),
    url("../../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
    font-family: "RobotoMedium";
    src: url("../../fonts/RobotoMedium/RobotoMedium.eot");
    src: url("../../fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
    url("../../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
    font-family: "RobotoBold";
    src: url("../../fonts/RobotoBold/RobotoBold.eot");
    src: url("../../fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/RobotoBold/RobotoBold.woff") format("woff"),
    url("../../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body{
    /*font-family: RobotoLight;*/
}

#fullpage{
    /*background: black;*/
    /*background: greenyellow;*/
}

#header{
    position:fixed;
    height: 100px;
    background: white;
    /*background:red;*/
    z-index: 9;
    display:block;
    width: 100%;
    color: #6c6c6c;
}
    .header_logo{
        display: inline-block;
        height: 100%;
        line-height: 100px;
        /*background: green;*/
        font-family: RobotoRegular;
        font-size: 35px;
        /*font-size: 2.5em;*/
    }
    .header_menu{
        font-family: RobotoLight;
        margin-top: 25px;
        font-size: 17px;
        /*line-height: 100px;*/
        /*vertical-align: middle;*/
    }
        .header_menu a:link {
            color: #6c6c6c !important;
        }
        .header_menu a:visited {
            color: #6c6c6c !important;;
        }
        .header_menu a:active {
            color: #6c6c6c !important;;
        }
/*.header_menu > a {*/
        /*color: #6c6c6c;*/
        /*/!*line-height: 20px;*!/*/
        /*/!*background: red;*!/*/
    /*}*/

.slide1 {
    /*background: black;*/
    /*margin-top: 100px;*/
    background-image: url("../../static/img/billboard.jpg");
    /*background-image: url("../../static/img/slide1Bckg.jpg");*/
    background-position: bottom;
    background-repeat: no-repeat;
    /*background-size: 100% 90%;*/
    background-size: 100% 100%;


    font-family: RobotoLight;

    /*line-height: 150px;*/
    padding-top: 250px;
    /*padding-top: 70%;*/
    /*padding-top: -50px !important;*/

    font-size: 45px;
}
    .slide1_button{
        font-size: 25px;
        padding: 5px;
        padding-left: 50px;
        padding-right: 50px;
        border-radius: 30px;
        position: relative;
        top: 80px;
    }
    .slide1_button:hover{
        background: #3f5480 !important;
    }
.slide2{
    height: 100% !important;
    /*display: table;*/
    /*background: yellow;*/

    font-size: 1em;
}
    .child{
        display: table-cell;
        vertical-align: middle;
    }
        .service{
            font-family: RobotoLight;
        }
        .service_image-active{
            /*box-shadow: 0px 0px 39px 25px rgba(236,84,132,1);*/
            box-shadow: 0px 0px 39px 26px rgba(236,84,132,1);
            background: rgba(236,84,132,1);
            /*border-bottom: 3px solid #ec5483;*/
        }
        .service_description{
            /*background: red;*/
            padding-left: 20%;
            padding-right: 20%;
            padding-bottom: 10%;
        }
        .service_description-mobile{
            height: 80%;
            /*background: red;*/
            padding-top: 20%;
            text-align: center;
        }

.slide3{
    font-family: RobotoLight;
    height: 100% !important;
    /*display: table;*/
    background: #fcfcfc;

    font-size: 1em;
}
    .author{
        /*position: absolute;*/
        /*top: 60%;*/
    }
        .author_image_wrap{
            padding-top: 15px;
            /*width: 150px; background: black;*/
        }

.slide4{
    /*height: 300px !important;*/
    /*height: 600px !important;*/
    /*height: auto !important;*/
}
    .clients{
        /*height: 150px;*/
        line-height: 150px;
        letter-spacing: 25px;
    }
.slide5{
    background: #fcfcfc;
    /*height: 2000px !important;*/
    /*background: red;*/
}
.slide5 .slide{
   margin-top: 200px;
   /*margin-top: 15%;*/
}
    .picture{
        text-align: left;
        padding-left: 26px;
    }
        .picture_img{
            width: 280px;
        }
        .picture_info{
            /*font-size: 2em;*/

            padding-top: 25px;
            /*margin-top: -280px;*/
            color: #6c6c6c;
            width: 280px;
        }
            .picture_date{
                font-size: 12px;
            }

.slide6{
}
    .feature{
        margin-top: 50px;
        /*color: #6c6c6c;*/
    }
        .feature_image{
            margin-top: 5px;
            float: left;
        }
        .feature_info{
            margin-left: 50px;
            /*float: right;*/
            /*background: red;*/
            /*display: inline-block;*/
            /*display: inline;*/
        }
        .feature_info p{
            color: #6c6c6c;
            /*color: #6с6с6с;*/
            /*color: red;*/
        }

.slide7{
    padding-top: 200px;

    background: #fcfcfc;
}
    .news{
        margin-top: 30px;
    }
        .news_text{
            color: #6c6c6c;
            padding-left: 50px;
        }
            .news_header{
                padding-top: 0px;
                margin-top: 0px;
            }
            .news_article{
                font-size: 16px;
                line-height: 26px;
            }
        .news_image{

        }

.sign-up{
    /*background: red;*/
    height: 55%;
}
    .sign-up_invite{
        padding-top: 5%;
        padding-bottom: 5%;
        width: 70%;
        display: inline-block;
    }
    .sign-up_button{
        width: 220px;
        background: #ec5483;
        border: none;
        line-height: 45px;
    }
    .sign-up_button:hover{
        background: #3f5480;
    }
.footer{
    /*margin-top: 0px;*/
    /*margin-bottom: 0px;*/
    /*ma*/
    padding-top: 3%;
    /*background: blue;*/
    background: #38404b;
    height: 45%;
    /*color: #6c6c6c;*/
    color: #bdcadb;
}
    .footer_logo{

    }
    .footer_nav{
        margin-top: 35px;
    }
        .footer_nav li{
            padding-left: 35px;
        }
            .footer_nav a:link,
            .footer_nav a:active,
            .footer_nav a:visited {
                color: #bdcadb !important;
            }
            /*.footer_nav a:visited{*/
                /*color: #bdcadb !important;*/
            /*}*/
            /*.footer_nav a:active{*/
                /*color: #bdcadb !important;*/
            /*}*/
    .footer_copyleft{
        margin-top: 20px;
        font-size: 12px;
    }
.bg.pink{
    background: #ec5483;
}
.color.white{
    color: white !important;
}


.section{
    /*width: 100%;*/
    margin: 0px !important;
    /*background: blue;*/
}
/*.something{*/
    /*height: 300px !important;*/
    /*background: black;*/
/*}*/
/*.something-else{*/
    /*background: yellow;*/
    /*height: 300px;*/
/*}*/

.vcenter {
    display: inline-block !important;
    vertical-align: middle !important;
    float: none !important;
}

.overwrite-def-container-fluid{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

/*@media (max-width: 797px) {*/
    /*body {*/
        /*padding-left: 0px;*/
        /*padding-right: 0px;*/
    /*}*/
/*}*/

.robotoBold{
    font-family: RobotoBold;
}
.robotoLight{
    font-family: RobotoLight;
}
.robotoMedium{
    font-family: RobotoMedium;
}
.robotoRegular{
    font-family: RobotoRegular;
}
.pointer{
    cursor: pointer;
}

.popover {
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*z-index: 1060;*/
    /*display: none;*/
    /*max-width: 276px;*/
    /*padding: 1px;*/
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    /*font-size: 14px;*/
    /*font-style: normal;*/
    /*font-weight: normal;*/
    /*line-height: 1.42857143;*/
    /*text-align: left;*/
    /*text-align: start;*/
    /*text-decoration: none;*/
    /*text-shadow: none;*/
    /*text-transform: none;*/
    /*letter-spacing: normal;*/
    /*word-break: normal;*/
    /*word-spacing: normal;*/
    /*word-wrap: normal;*/
    /*white-space: normal;*/
    /*background-color: #fff;*/
    /*-webkit-background-clip: padding-box;*/
    /*background-clip: padding-box;*/
    /*border: 1px solid #ccc;*/
    /*border: 1px solid rgba(0, 0, 0, .2);*/

    border-radius: 0;
    box-shadow: none;

    line-break: auto;

    text-align: center;
    padding-bottom: 20px;
    font-family: RobotoLight;

    /*font-size: 0.8em;*/
    font-size: 1em;

    max-width: 30%;
    /*width: 500px !important;*/
    /*background: red;*/
}

.fp-prev{
    left: 3px !important;
    border-width: 38.5px 16px 38.5px 0 !important;
    border-color: transparent rgba(0,0,0,0.5) transparent transparent !important;
}
.fp-next{
    right: 3px !important;
    border-width: 38.5px 0 38.5px 16px !important;
    border-color: transparent transparent transparent rgba(0,0,0,0.5) !important;
}
@media (min-width: 769px) {
    .fp-next, .fp-prev {
        display: none !important;
    }
}
@media (max-width: 769px) {
    .picture{
        text-align: center;
        padding-left: 0px;
    }
        .picture_info{
            text-align: center;
            display: inline-block;
        }
    .feature{
        margin-top: 7%;
    }


    .slide5 .slide{
        margin-top: 200px;
    }

    .slide7{
        padding-top: 20%;
        text-align: center;
    }
        .news_text{
            padding-left: 15px;
        }

    .popover{
        max-width: 50%;
    }
}
/*@media(max-height: 90000px){*/
@media(min-device-height: 800px){
/*@media(min-device-width: 1400px){*/
/*@media(max-device-width: 1250px){*/
/*@media(min-height: 9000px){*/
    body{
        font-size: 24px;
    }

    .picture{
        /*margin-top: 8%;*/
    }
}